<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel="preconnect" href="https://api.segment.io" crossorigin="anonymous">
  <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous">
  <link rel="preconnect" href="http://analytics.mailmunch.co" crossorigin="use-credentials">
  <link rel="preconnect" href="http://intercom.com" crossorigin="use-credentials">  
  <link rel="preconnect" href="https://connect.facebook.net" crossorigin="anonymous">
  <link rel="preconnect" href="https://ajax.googleapis.com" crossorigin="anonymous">
  <link rel="preconnect" href="https://a.mailmunch.co" crossorigin="anonymous">

  {% if site.dont-allow-tracking == true %}
    <meta name="robots" content="noindex">
  {% endif %}

  <link rel="shortcut icon" href="{{ "favicon.ico" | absolute_url }}" type="image/x-icon">

  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs.css" | absolute_url }}">

  {% if site.search_enabled != nil %}
    <script type="text/javascript" src="{{ "/assets/js/vendor/lunr.min.js" | absolute_url }}" async></script>
  {% endif %}

  <script type="text/javascript" src="{{ "/assets/js/just-the-docs.js" | absolute_url }}" async></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta property="article:modified_time" content="{{page.modified_time}}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@getzepel">
  {% seo title=false %}
</head>
