@charset "UTF-8";

//
// Styles for rendered markdown in the .main-content container
//
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type


@media (min-width: 900px){   
  a.cta-button:hover {
    color: #fff;
  }
    
  a.cta-button:focus {
    color: #fff;
  }    
    
  a.cta-button {
    display: inline-block;
    margin: 11px 0px 10px 1px;
    padding: 4px 20px;
    height: 48px;
    outline: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 37px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    background: linear-gradient(#6a45b3,#6a45b3 38%,#4e2fab 90%,#4e2fab);
    border-radius: 5px;
    border-bottom: 0;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.14);
    -webkit-font-smoothing: subpixel-antialiased;
  }
    
  .cta {
    margin: 30px 0px 50px 0px;
      background: #27272e url(https://zepel.io/blog/content/images/2019/07/zepel-app-4.png);
      background-size: 355px 294px;
      background-repeat: no-repeat;
      background-position: 438px 86px;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      padding: 142px 290px 24px 44px;
  }
    
  h2.cta-heading {
    color: #fff;
    margin: -105px 0 -4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;    
  }
    
  p.cta-para {
    color: #cdcdd8;
    padding-top: 25px;
  }
  
  .cta-image {
      display: none !important;
  }

  .cta-image {
    display: none !important;
  }
}

@media (max-width: 899px) {
  .cta {
    display: none;
  }

.cta-image {
    border-bottom: none !important;
  }

}    

.page-content {
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px !important;
    letter-spacing: .4px;
  }

  ul,
  ol {
    padding-left: 1.5em;
    line-height: 32px;
  }

  ol {
    list-style-type: none;
    counter-reset: step-counter;

    > li {
      position: relative;

      &::before {
        position: absolute;
        top: 0.2em;
        left: -1.6em;
        color: $grey-dk-000;
        content: counter(step-counter);
        counter-increment: step-counter;
        @include fs-3;

        @include mq(sm) {
          top: 0.11em;
        }
      }

      ol {
        counter-reset: sub-counter;

        li {
          &::before {
            content: counter(sub-counter, lower-alpha);
            counter-increment: sub-counter;
          }
        }
      }
    }
  }

  ul {
    list-style: none;

    > li {
      &::before {
        position: absolute;
        margin-left: -1.4em;
        color: #151515;
        content: "•";
      }
    }
  }

  .task-list {
    padding-left: 0;
  }

  .task-list-item {
    display: flex;
    align-items: center;

    &::before {
      content: "";
    }
  }

  .task-list-item-checkbox {
    margin-right: 0.6em;
  }

  hr + * {
    margin-top: 0;
  }

  h1:first-of-type {
    margin-top: 0.5em;
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  dt,
  dd {
    margin: 0.25em 0;
  }

  dt {
    text-align: right;

    &::after {
      content: ":";
    }
  }

  dd {
    margin-left: 1em;
    font-weight: 500;
  }
}
